<style>
    
</style>
<section>
    <div class="container mt-4">

        <div class="row ">
            <a href="/admin/add-banner" class="btn btn-success mt-3 mx-3 btn-lg btn-dark">Add banner</a>
        </div>
        {{#if delMsg }}
        <h1>{{delMsg}}</h1>
        {{/if}}
        {{#if updMsg }}
        <h1>{{updMsg}}</h1>
        {{/if}}
        <table class="table mt-3 table-striped table-bordered" id="productsTable">
            <thead>
                <tr>
                    
                    <th scope="col">name</th>
                    <th scope="col">description</th>
                    
                    <th scope="col">image</th>
                    <th scope="col">options</th>
                </tr>
            </thead>
            <tbody>
                {{#each banners}}
                <tr>
                    
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>

                    <td><img style="width:50px;height:50px" src="/product-images/{{this._id}}.jpg" alt=""></td>
                    <td>
                        
                        
                        <a href="/admin/delete-banner/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete {{this.name}}')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(function (){
        $('#productsTable').DataTable();

    });
</script>

