<div class="row property__gallery">
    {{#each categoryProducts}}
    <div class="col-lg-3 col-md-4 col-sm-6 mix women">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="/product-images/{{this._id}}.jpg">
                <div class="label new">New</div>
                <ul class="product__hover">
                    <li><a href="/single-product" class="image-popup"><span class="arrow_expand"></span></a>
                    </li>
                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6><a href="#">{{this.name}}</a></h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product__price">{{this.price}}</div>
                <button onclick="addToWish('{{this._id}}')" class='btn btn-light btn-sm'> Add to Wishlist</button>
                <button onclick="addToCart('{{this._id}}')" class='btn btn-primary btn-sm'>Add to Cart</button>
            </div>
        </div>
    </div>
    {{/each}}

</div>
<script>
    
function addToCart(proId){
    $.ajax({
        url:"/add-to-cart/"+proId,
        method:"get",
        success:(response)=>{
            if(response.status){
                let count=$('#cart-count').html()
                count = parseInt(count)+1
                $("#cart-count").html(count)
            }
          
            
        }
    })
}
function addToWish(proId){
    $.ajax({
        url:"/add-to-wish/"+proId,
        method:"get",
        success:(response)=>{
            if(response.status){
                let count=$('#wish-count').html()
                count = parseInt(count)+1
                $("#wish-count").html(count)
            }
          
            
        }
    })
}
</script>